.main {
  margin-top: 10%; /* Add a top margin to avoid content overlay */
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans';
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 20px;
}

a {
  text-decoration:none;
  color: blue;
}

a:visited {
  color: blue;
}

a:hover, a:active {
  color: rgb(0, 128, 255);
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 16px;
}

.navbar ul {
  display: inline-flex;
  list-style: none;
  color: white;
}

.navbar ul li a {
  float: left;
  font-size: 20px;
  color: rgb(100, 100, 100);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar ul li a:hover, a:active {
  color: white;
  background-color: black;
}

.navbar .fa {
  margin-right: 8px;
}

.navbar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: white;
  margin-top: 40px;
  margin-left: -15px;
}

.navbar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}

/* Style all font awesome icons */
.social .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.social .fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin-square {
  background: rgb(14, 106, 186);
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.social a:hover {
  color: white;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  padding: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
