.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

html {
    scroll-behavior: smooth;
}

/* body */
.App {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1.1em;
    margin: 40px;
    color: black;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
}

p {
    font-weight: 400;
    line-height: 1.3;
}

/* links */
a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.box {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    overflow: hidden;
}

.box-content {
    position: relative;
    z-index: 2;
    line-height: 1.5;
}

/* Table */
table {
    width: 100%;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: black;
    color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}