/* Navigation menu */
.nav-menu-links {
  width: 100%;
  position: relative;
  background-color: inherit;
  overflow: hidden;
  box-shadow: 0px 1px white;
}

/* The navigation menu links */
.nav-menu-links a {
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: #a9a9a9;
  display: block;
  transition: 0.3s;
}

/* Change the color of links on hover */
.nav-menu-links a:hover {
  color: green;
}

/* Add an active class to highlight the current page */
.nav-menu-links a.active {
  font-weight: 700;
  color: green;
}

/* Hide the button that should open and close the navigation bar on small screens */
.nav-menu-links .nav-button {
  display: none;
}

/* When the screen is less than 640 pixels wide, hide all links. Show the button that opens and closes the navigation bar */
@media screen and (max-width: 640px) {
  .nav-menu-links a {
    display: none;
  }

  .nav-menu-links a.nav-button {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
  .nav-menu-links.responsive {
    position: relative;
  }

  .nav-menu-links.responsive a.nav-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-menu-links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.nav-button {
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20%;
}