/* Google Font Link */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto';
  font-size: 18px;
  color: black;
  margin: 0px;
}

.main {
  padding: 100px;
}

h1, h2, h3 {
  color: rgb(55, 94, 187);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}


a {
  text-decoration: none;
  color: rgb(55, 94, 187);
}

a:visited {
  color: rgb(55, 94, 187);
}

a:hover, a:active {
  color: orange;
}

.fa {
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #efeded;
}