html {
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}

/* body */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 0px;
}

/* headers */
h1 {
  font-size: 2.5em;
  color: black;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  color: black;  
  font-weight: 800;
}

h3 {
  font-size: 1em;
  color: black;
}

p {
  font-weight: 400;
}

/* main margins */
.main {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 640px) {
  .main {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 640px) {
  .main {
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
  }
}

/* links */
a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #007FFF;
}

a:visited {
  color: black;
  text-decoration: underline;
  text-decoration-color: #007FFF;
}

/* icons */
.fa {
  margin-right: 5px;
}