/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swaphttps://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  color: black;
  margin: 0px;
}

.main {
  padding: 25px;
}

h1 {
  font-size: 2em;
  color: rgb(55, 94, 187);
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  font-weight: 800;
}

h3 {
  font-size: 1em;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgb(55, 94, 187);
}

a:visited {
  color: rgb(55, 94, 187);
}

a:hover,
a:active {
  color: orange;
}

.paper {
  color: black;
}

.pub {
  font-weight: bold;
}

.fa {
  margin-right: 5px;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #efeded;
}

.home-art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.book-item {
  padding: 10px;
  background-color: rgb(234, 244, 248);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px #888888;
}

.book-item .title {
  font-weight: bold;
  font-size: larger;
}

.book-item .author {
  font-style: italic;
}
