/* Add background color to the top navigation */
.topnav {
  position: fixed;
  background-color: white;
  overflow: auto;
  margin: auto;
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
  box-shadow: 0px 1px 5px #888888;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(55, 94, 187);
}