/* Add background color to the top navigation */
.topnav {
  background-color: rgb(55, 94, 187);
  position: fixed;
  overflow: auto;
  margin: auto;
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  border-bottom: 3px solid orange;
  background-color: rgb(147, 176, 244);
}
